---
layout: base
title: Posts
---

{% include jumpTop.html %}

<div class="container">
        <div class="card margin-bottom-none">
            <div class="card-body">
                <h1>All posts</h1>
            </div>

            <div class="card-body">
                {% for post in site.posts %}
                    <a href="{{ site.baseurl }}{{post.url}}">
                        <h5>{{ post.title }}</h5>
                    </a>
                    <div>
                        {{ post.excerpt | truncatewords: 30 }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
</div>
