---
layout: base
title: Posts
---

{% include jumpTop.html %}

<div class="container content-wrapper-padding">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Posts</li>
            </ol>
        </nav>
        <div class="card margin-bottom-none">
            <div class="card-body">
                <h1>All posts</h1>
            </div>

            <div class="card-body">
                {% for post in site.posts %}
                    <small>
                        {{ post.date | date: "%B %e, %Y" }}
                    </small>
                    <a href="{{ site.baseurl }}{{post.url}}">
                        <h5>{{ post.title }}</h5>
                    </a>
                    <div>
                        {{ post.excerpt | strip_html | truncatewords: 30 }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
</div>
