--- 
---

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import 'monokai';

$blue: #2f7cff;

body {
  background-color: whitesmoke;
}

a {
  color: $blue;
}

a:hover {
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.landing > h1 {
  font-family:'Press Start 2P', cursive;
  text-shadow: 
    5px 5px 5px #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
  color: $blue;
  transition: font-size 400ms;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
    transition: font-size 400ms;
  }
}

.landing > h4 {
  font-family:'Press Start 2P', cursive;
  text-shadow: 
    5px 5px 5px #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #fff;
  transition: font-size 400ms;
  @media (max-width: 575.98px) {
    font-size: 1rem;
    transition: font-size 400ms;
  }
}

.landing {
  background-image: url('../images/site/mountain.png'), url('../images/site/cloud.png');
  background-position: bottom, top;
  background-color: #6495ED  ;
  background-attachment: scroll, fixed;
  background-size: 700px 50vh, 300px 30vh;
  background-repeat: repeat-x;
  min-height: 300px;
  border-radius: 0;
  text-align: center;
  padding: 50px 0 0 0;
  position: relative;
  margin-bottom: 50px;
  background-position-x: left;
  img {
    box-shadow: 0 8px rgba(0, 0, 0, 0.5)
  }
}

.landing::after {
  content: '';
  width: 100%;
  height: 60px;
  display: block;
  background-image: url('../images/site/platform.png');
  background-size: contain;
  background-repeat: repeat-x;
}

.card {
  border: 1px solid black;
  box-shadow: 5px 5px 0px 1px rgba(0,0,0,.5);
}

.margin-bottom-none {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.margin-top-0 {
  margin-top: 0;
  .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}

.card-title {
  min-height: 2em;
}

.card-img-wrapper {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn {
  width: 100%;
}

.post {
  @media (max-width: 575.98px) {
    background-size: cover;
    background-attachment: scroll;
  }
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  // margin: 20px 0;
}

footer {
  padding: 10px 0;
  margin-top: 50px;
  .container {
    margin-top: 0;
  }
}

nav {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-brand {
    font-family:'Press Start 2P', cursive;
    padding-top: 0;
    padding-bottom: 0;
    img {
      vertical-align: baseline;
    }
  }
  .nav-link:hover {
    background-color: rgba(47,124,255, 0.7);
    border-radius: 5px;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand-text {
  @media (min-width: 575.98px) {
    overflow-x: hidden;
  }
  
  max-width: 0px;
  display: inline-block;
  transition: max-width 1000ms;
}

.navbar-scrolled .navbar-brand-text {
  max-width: 300px;
  transition: max-width 1000ms;
}

.img-about {
  max-width: 200px;
  max-height: 200px;
  margin-right: 10px;
  float: left;
}

.border-none {
  border: none;
  box-shadow: none; 
  background-color: transparent;
}

.content-wrapper-padding {
  padding-top: 55px;
}

.jump-top {
  cursor: pointer;
  z-index: 20;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  i {
    margin: auto;
  }
}

.container-post {
  @media (max-width: 575.98px) {
    padding-left: 0;
    padding-right: 0;
  }
}